extends layout

block content
  #slide-0
    ol#tracks.list

  #slide-1
    .track-details-content
      a(href='#', class='back') Back
      .info
        img(src='')
        h2.artist Artist:
          span
        h3.album Album:
          span
        h3.title Track:
          span 
