extends layout

block content

  #start
    p Loading...

  #login-panel
    p Get ready to play Bazuga!
    p
      a(href='#', id='login') Sign in

  #game-panel
    #game
      p.filler No game yet
      .clear
    #stash
      p.filler Stash is empty! Buy some...
      .clear
    #buy
      .buy-button
        a.big-banana
        button(data-kind='banana') 4 for $0.99
      .buy-button
        a.big-kiwi
        button(data-kind='kiwi') 4 for $0.99
      .clear

  #template
    #small-banana-tpl
      a.small-banana
    #small-kiwi-tpl
      a.small-kiwi
    #pack-tpl
      div(class="pack")
        .clear
