extends layout

block content
  #game
    p.filler No game yet
    .clear
  #stash
    p.filler Stash is empty! Buy some...
    .clear
  #buy
    .buy-button
      a.big-banana
      button 4 for $0.99
    .buy-button
      a.big-kiwi
      button 4 for $0.99
    .clear
  #template
    #small-banana-tpl
      a.small-banana
    #small-kiwi-tpl
      a.small-kiwi
    #pack-tpl
      div(class="pack")
        .clear
