/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main styles */

@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('../fonts/Impact_Label-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueGothic';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'LeagueGothic', sans-serif;
}

h1 {
    clear: both;
    float: left;
    font-family: 'ImpactLabelRegular';
    font-size: 35px;
    color: #2789a5;
}

a {
    text-decoration: none;
}

#header {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 5px;
}

#header a {
    font-family: 'LeagueGothic';
    font-size: 22px;
    color: #111;
}

#tracks {
    clear: both;
    float: left;
    font-size: 20px;
    margin: 40px 0px 30px 0px;
    position: relative;
    width: 100%;
}

#tracks li {
    float: left;
    clear: both;
    margin-bottom: 5px;
    background-color: #eee;
    padding: 10px 0px 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

#tracks.list li {
    cursor: pointer;
}

#tracks.list li.listening {
    background-color: #ccc;
    cursor: default;
}

#tracks.list li:hover {
    background-color: #e5ff6d;
}

#tracks.list li.listening:hover {
    background-color: #ccc;
}

#tracks li .track-info .image-wrapper {
    display: block;
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #fff;
}

#tracks li .track-info img {
    display: block;
    width: 80px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

#tracks li .details {
    float: left;
}

#tracks li .artist-name {
    font-size: 25px;
    color: #2789a5;
    display: block;
    float: left;
    margin-bottom: 10px;
}

#tracks li .track-title {
    display: block;
    clear: both;
    font-size: 30px;
    line-height: 25px;
    float: left;
    color: #466063;
}

/* Audio Player */

#player {
    background-color: #111;
    bottom: 0px;
    display: block;
    height: 60px;
    opacity: 0.8;
    position: fixed;
    width: 100%;
}

#playtoggle {
    background-image: url('../images/play.png');
    background-position: 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 50px;
    left: 10px;
    position: absolute;
    top: 5px;
    width: 50px;
}

#playtoggle:hover {
    opacity: 0.7;
}

#playtoggle.playing {
    background-position: -50px;
}

#gutter {
    background: -moz-linear-gradient(center top , #222, #444) repeat scroll 0% 0% transparent;
    border-radius: 3px;
    height: 15px;
    left: 80px;
    position: absolute;
    top: 21px;
    width: 75%;
}

#handle {
    background-color: #888;
    border-radius: 20px;
    height: 15px;
    left: 0px;
    margin-left: -11px;
    position: absolute;
    top: 0px;
    width: 15px;
}

#timeleft {
    color: #fff;
    display: block;
    font-size: 28px;
    letter-spacing: 1px;
    position: absolute;
    right: -80px;
    top: -9px;
}

@media only screen and (max-width: 600px) {
    #gutter {
        width: 65%;
    }
}

@media only screen and (max-width: 500px) {
    #gutter {
        width: 40%;
    }
}
