/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Main styles */

@font-face {
    font-family: 'ImpactLabelRegular';
    src: url('../fonts/Impact_Label-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    clear: both;
    float: left;
    font-family: 'ImpactLabelRegular';
    font-size: 35px;
    color: #2789a5;
}

#header {
    float: right;
    position: absolute;
    z-index: 2;
    right: 0px;
}

#header a {
    font-family: 'ImpactLabelRegular';
    font-size: 18px;
    color: #111;
}

#tracks {
    clear: both;
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

#tracks li {
    float: left;
    clear: both;
    margin: 10px;
    margin-left: 0px;
    background-color: #eee;
    padding-top: 10px;
    padding-right: 10px;
    max-width: 700px;
    min-width: 80%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tracks.list li {
    cursor: pointer;
}

#tracks.list li:hover {
    background-color: #e5ff6d;
}

#tracks li .track-info .image-wrapper {
    display: block;
    width: 120px;
    height: 120px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    background-color: #fff;
}

#tracks li .track-info img {
    display: block;
    width: 120px;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}

#tracks li .details {
    float: left;
}

#tracks li .artist-name {
    font-size: 25px;
    color: #2789a5;
    display: block;
    float: left;
    margin-bottom: 10px;
}

#tracks li .track-title {
    display: block;
    clear: both;
    font-size: 30px;
    line-height: 25px;
    float: left;
    color: #466063;
}

#tracks li .user-info {
    float: left;
    width: 70%;
    margin-top: 19px;
}

#tracks li .user, #tracks li .user-info img {
    float: left;
    display: block;
    width: 41px;
}

#tracks li .posted {
    color: #888;
    margin-left: 10px;
}

audio {
    position: absolute;
    display: block;
    z-index: 3;
    bottom: 0px;
    width: 100%;
    overflow: hidden;
    outline: none;
}
